Manifest.toml
.DS_Store
/beve_validation/build
*.beve
beve_validation/benchmark_results.md
beve_validation/cpp_benchmark_results.csv
beve_validation/julia_benchmark_results.csv
*.png
/build
/.julia
*.zst
/tmp/
